.bg-1 {
	background-color: yellowgreen;
}	

.rounded-circle {
	border-radius: 50%;
	max-width: 100%;
    height: auto;
	}

.btn {
	background-color: yellowgreen;
	border: 0;
}

#testIt {
	background-color: white;
}

.bg-3 {
	background-color: #222;
}

h2 {
	font-size: 40px;
}

.pin-1 {
	color: yellowgreen;
}

.bg-foot {
	background-color: yellowgreen;
}

#navbrand, #activLink {
	color: yellowgreen;
}

.nbrand a:hover {
	color: red !important;
}

.navbar-nav li a:hover {
	color: yellowgreen !important;
}

h1 {
	font-size: 50px;
}

@media only screen and (min-width: 991.98px) {

.navbar {
	padding-right: 80px;
	padding-left: 80px;
}

h1 {
	font-size: 80px;
}

.bg-img {
	padding-top: 200px;
	padding-bottom: 200px;
}


