.bg-1 {
	background-color: yellowgreen;
}

.rounded-circle {
	border-radius: 50%;
	max-width: 100%;
    height: auto;
	}

.btn {
	background-color: yellowgreen;
	border: 0;
}

#testIt {
	background-color: white;
}

.bg-3 {
	background-color: #222;
}

h2 {
	font-size: 40px;
}

. {
	padding-top: 100px;
	padding-bottom: 100px;
}

.pin-1 {
	color: yellowgreen;
}

.bg-foot {
	background-color: yellowgreen;
}


@media only screen and (min-width: 991.98px) {

header {
	padding-top: 250px;
	padding-bottom: 250px;
}


